/*  Site colors

	#1a446c		blue grey
	#689dc1		light blue
	#d4e6f4		very light blue
	#eee4b9		light tan
	#8d0d19		burgundy


*/

html { height: 100%; width: 100%; }

body {
	width: 100%;
	height: 100%;
	margin:0;
	padding:0;
	border:0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px line-height:15px;
	background: #eee4b9;
}

img {
	border:none;
}

a { color: #8d0d19; }

a:hover {
	color: #1a446c;
}

#header {
	height: 70px;
	margin:0;
	padding:0;
	text-align: left;
	background-color: #1a446;
	color: #d436f4;
}

header h1 {
	padding:1em;
	margin:0;
}

#main {
	height: 960px;
	width: 100%;
	margin: 0;
	padding:0;
	background: #eee4b9;
}

#footer {
	clear: both;
	height: 6em;
	margin:0;
	padding:1em;
	text-align: center;
	background:#1a446c;
	color: #d436f4;
}

/* navigation */

#navigation {
	float: left;
	width: 325px;
	/* width: 50%; */
	height: 100%;
	margin:0; 
	padding:0 2em;
	color: #d436f4;
	background:#8d0d19;
	padding-top: 2.7em;
}

#navigation a {
	color:#d436f4;
	text-decoration: none;
}

#navigation a:hover {
	color:#fff;
}

ul.subjects {
	margin:1em 0;
	padding-left: 0;
	list-style: none;
}

ul.pages {
	padding-left: 2em;
	list-style: square;
}

.selected {
	font-weight: bold;
}

/* page */


#page {
	float: left;
	height: 100%;
	padding-left: 2em;
	vertical-align: top;
	background:#eee4b9;
}

#page h2 {
	color:#8d0d19;
	margin-top: 1em;
}


#page h3 {
	color: #8d0d19;
}









